<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TaskTimer.Properties.Settings>
            <setting name="Datapath" serializeAs="String">
                <value>\Chronometer</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>\ChronoData.bin</value>
            </setting>
        </TaskTimer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TaskTimer.Properties.Settings>
            <setting name="StartDocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeySeqTimeout" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxCountdown" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LoadCrono" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskTimer.Properties.Settings>
    </userSettings>
</configuration>